# Python-related files
__pycache__/
*.pyc

# Pelican output directory
output/
releases/

# Virtual environment (if you're using one)
venv/

# Pelican cache directory
.cache/

# IntelliJ IDEA files
.idea/
*.iml

.firebase/
