{% extends "base.html" %}
{% set show_header = True %}
{% block content %}

{% block content_title %}
<section>
  <p>Hi, my name is <a href="https://www.megadix.it/" target="_blank">Dimitri De Franciscis</a>. I'm a freelance Full Stack Developer, Digital Creative, Lifelong Learner.</p>
  <p>On this website I've collected a random collection of <a href="https://p5js.org/" target="_blank">p5.js</a> experiments I did over the years.</p>
  <p>Please don't take these examples too seriously, as I am by no means a P5.js expert!</p>
  <p>Sketches are divided by category:</p>
  <ul>
    <li><a href="/sketches/chaos.html">Caos</a></li>
    <li><a href="/sketches/creative.html">Creative</a></li>
    <li><a href="/sketches/games.html">Games</a></li>
    <li><a href="/sketches/physics.html">Physics</a></li>
    <li><a href="/sketches/ml.html">Machine Learning</a></li>
  </ul>
</section>
{% endblock %}

{% endblock content %}
