header.container-fluid, main.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}

#main-content {
    margin-bottom: 0;
}

#main-content header hgroup {
    margin-bottom: 0;
}
#main-content nav[aria-label="breadcrumb"] {
    font-size: var(--font-size-xsmall);
    background-color: red;
}

    /*
     * Footer
     */
body > footer {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: var(--font-size-xsmall);
    color: var(--muted-color);
}
body > footer > address {
    margin-bottom: 0;
}
